:root {
  --color-main: #20555e;
  --color-secondary:rgb(189, 189, 0);
  --color-third:tomato;
  --color-accent: #7ccfff;
  --color-dark:black;
  --transpar:transparent;
  --radius: 10px;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.woff") format("woff");
  font-weight: 700px;
  font-style: bold;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 700px;
  width: 7600px;
  background-color: #4a899d;
  font-size: 14px;
}

body .header {
  width: 100%;
  height: 110px;
}

body .requirements,
body .total-sum,
body .total-sum-base,
body .cost-reduction {
  position: fixed;
  /* left: 20px; */
  /* background: #fff;  */
  /* padding: 10px; */
  font-size: 26px;
  font-weight: bold;
  z-index: 999;
  color: white;
}

body .total-sum, body .total-sum-base {
  position: fixed;
  width: 300px;
  top: 9%;
  left: 90%;
  transform: translate(-50%, -50%);
  /* background: #fff; */
  /* padding: 15px; */
  /* border: 1px solid #ddd; */
  /* font-size: 1.2rem; */
  font-weight: bold;
  z-index: 999;
}

body .total-sum-base {
  top: 6%;
}

body .cost-reduction {
  top: 6%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  /* background: #fff; */
  /* border: 1px solid #ddd; */
  border-radius: 6px;
  /* font-size: 1.2rem; */
  font-weight: bold;
  z-index: 999;
}

body .requirements {
  color: red;
  position: fixed;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: #fff; */
  padding: 15px;
  /* border: 1px solid #ddd; */
  border-radius: 6px;
  /* font-size: 1.2rem; */
  font-weight: bold;
  z-index: 999;
}

body .main {
  display: flex;
  align-items: center;
  width: 7600px;
  height: 800px;
}

body .main .column-container, body .main .crystal-center {
  width: 400px;
  display: inline-block;
  gap: 20px;
  font-weight: 700px;
}

body .main .column-container .inactive img, body .main .crystal-center .inactive img {
  filter: grayscale(100%);
}

body .main .column-container .inactive .tech-container, body .main .crystal-center .inactive .tech-container {
  filter: grayscale(100%);
}

body .main .column-container .inactv, body .main .crystal-center .inactv {
  filter: grayscale(100%);
}

body .main .column-container .tech-section, body .main .column-container .crystal-center, body .main .crystal-center .tech-section, body .main .crystal-center .crystal-center {
  position: relative;
  width: 240px;
  margin: 30px;
}

body .main .column-container .tech-section .crystal-center-info, body .main .column-container .crystal-center .crystal-center-info, body .main .crystal-center .tech-section .crystal-center-info, body .main .crystal-center .crystal-center .crystal-center-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

body .main .column-container .tech-section .crystal-center-info .tech-name, body .main .column-container .crystal-center .crystal-center-info .tech-name, body .main .crystal-center .tech-section .crystal-center-info .tech-name, body .main .crystal-center .crystal-center .crystal-center-info .tech-name {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  color: #095a94;
  border: 4px solid #38dfff;
  background-color: #efefef;
  font-weight: bold;
  width: 280px;
  height: 60px;
  font-size: 24px;
}

body .main .column-container .tech-section .tech-container, body .main .column-container .crystal-center .tech-container, body .main .crystal-center .tech-section .tech-container, body .main .crystal-center .crystal-center .tech-container {
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  color: #095a94;
  border: 4px solid #38dfff;
  background-color: #efefef;
  font-weight: bold;
  width: 240px;
  height: 80px;
}

body .main .column-container .tech-section .tech-container .tech-image img, body .main .column-container .crystal-center .tech-container .tech-image img, body .main .crystal-center .tech-section .tech-container .tech-image img, body .main .crystal-center .crystal-center .tech-container .tech-image img {
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid #d8a830;
  margin-top: -22px;
  height: 120%;
}

body .main .column-container .tech-section .tech-container .tech-content, body .main .column-container .crystal-center .tech-container .tech-content, body .main .crystal-center .tech-section .tech-container .tech-content, body .main .crystal-center .crystal-center .tech-container .tech-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 7.5rem;
}

body .main .column-container .tech-section .tech-container .tech-content .tech-progress, body .main .column-container .crystal-center .tech-container .tech-content .tech-progress, body .main .crystal-center .tech-section .tech-container .tech-content .tech-progress, body .main .crystal-center .crystal-center .tech-container .tech-content .tech-progress {
  height: 1rem;
  width: 100%;
  border: 2px solid #499dba;
  border-radius: 10px;
  overflow: hidden;
  z-index: 10;
  /* font-size: 12px; */
  /* text-align: center; */
  position: relative;
  color: white;
  background-color: #668ba1;
}

body .main .column-container .tech-section .tech-container .tech-content .tech-progress .progress-bar, body .main .column-container .crystal-center .tech-container .tech-content .tech-progress .progress-bar, body .main .crystal-center .tech-section .tech-container .tech-content .tech-progress .progress-bar, body .main .crystal-center .crystal-center .tech-container .tech-content .tech-progress .progress-bar {
  background-color: #076f8f;
  border-radius: 10px;
  /* width: 20%; */
  height: 100%;
  margin-left: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  /* z-index: -10; */
}

body .main .column-container .tech-section .tech-container .tech-content .tech-progress .progress-info, body .main .column-container .crystal-center .tech-container .tech-content .tech-progress .progress-info, body .main .crystal-center .tech-section .tech-container .tech-content .tech-progress .progress-info, body .main .crystal-center .crystal-center .tech-container .tech-content .tech-progress .progress-info {
  font-size: 11px;
  text-align: center;
  position: absolute;
  color: white;
  top: 0px;
  left: 39px;
  z-index: 10;
  width: 40px;
  /* border: 1px solid black; */
}

body .main .column-container .tech-section .cost-container, body .main .column-container .crystal-center .cost-container, body .main .crystal-center .tech-section .cost-container, body .main .crystal-center .crystal-center .cost-container {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  height: 2rem;
  align-items: center;
  font-weight: bold;
}

body .main .column-container .tech-section .cost-container .cost-image, body .main .column-container .crystal-center .cost-container .cost-image, body .main .crystal-center .tech-section .cost-container .cost-image, body .main .crystal-center .crystal-center .cost-container .cost-image {
  width: 1.5rem;
  height: 1.5rem;
}

body .main .column-container .tech-section .cost-container .cost-image img, body .main .column-container .crystal-center .cost-container .cost-image img, body .main .crystal-center .tech-section .cost-container .cost-image img, body .main .crystal-center .crystal-center .cost-container .cost-image img {
  height: 100%;
  width: 110%;
}

body .main .column-container .tech-section .cost-container .cost-research, body .main .column-container .crystal-center .cost-container .cost-research, body .main .crystal-center .tech-section .cost-container .cost-research, body .main .crystal-center .crystal-center .cost-container .cost-research {
  background-color: #3f819c;
  width: 67%;
  height: 1.3rem;
  border-radius: 4px;
  text-align: center;
  padding-top: 2px;
  color: white;
}

body .main .column-container .tech-section .cost-container .cost-btn, body .main .column-container .crystal-center .cost-container .cost-btn, body .main .crystal-center .tech-section .cost-container .cost-btn, body .main .crystal-center .crystal-center .cost-container .cost-btn {
  background-color: #4390dc;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 3px;
  cursor: pointer;
  background-color: #2ea2f5;
  color: white;
  font-weight: bold;
  border: none;
  /* width: 22px;
  height: 22px; */
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
  line-height: 1;
}

body .main .column-container .tech-section .cost-container .cost-btn:hover, body .main .column-container .crystal-center .cost-container .cost-btn:hover, body .main .crystal-center .tech-section .cost-container .cost-btn:hover, body .main .crystal-center .crystal-center .cost-container .cost-btn:hover {
  background-color: #1b84c3;
}

body .main .column-container .tech-section .arrow-cont, body .main .column-container .crystal-center .arrow-cont, body .main .crystal-center .tech-section .arrow-cont, body .main .crystal-center .crystal-center .arrow-cont {
  position: absolute;
  bottom: 96px;
  left: 230px;
  width: 180px;
  display: flex;
  z-index: -10;
}

body .main .column-container .tech-section .arrow-cont .arrow, body .main .column-container .crystal-center .arrow-cont .arrow, body .main .crystal-center .tech-section .arrow-cont .arrow, body .main .crystal-center .crystal-center .arrow-cont .arrow {
  width: 100%;
  position: absolute;
}

body .main .column-container .tech-section .arrow-cont .horizontal, body .main .column-container .crystal-center .arrow-cont .horizontal, body .main .crystal-center .tech-section .arrow-cont .horizontal, body .main .crystal-center .crystal-center .arrow-cont .horizontal {
  width: 100%;
}

body .main .column-container .tech-section .arrow-cont .small-horizontal, body .main .column-container .crystal-center .arrow-cont .small-horizontal, body .main .crystal-center .tech-section .arrow-cont .small-horizontal, body .main .crystal-center .crystal-center .arrow-cont .small-horizontal {
  width: 80px;
}

body .main .column-container .tech-section .arrow-cont .vertical-top, body .main .column-container .crystal-center .arrow-cont .vertical-top, body .main .crystal-center .tech-section .arrow-cont .vertical-top, body .main .crystal-center .crystal-center .arrow-cont .vertical-top {
  left: -42px;
}

body .main .column-container .tech-section .arrow-cont .vertical-bottom, body .main .column-container .crystal-center .arrow-cont .vertical-bottom, body .main .crystal-center .tech-section .arrow-cont .vertical-bottom, body .main .crystal-center .crystal-center .arrow-cont .vertical-bottom {
  rotate: 180deg;
  bottom: -243px;
  left: 126px;
}

body .main .crystal-center {
  width: 550px;
}

body .main .crystal-center .tech-section {
  width: 482px;
}

body .main .crystal-center .crystal-center-image img {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
