@import 'mixins';

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
  }
  
  html {
    font-size: 12px;
  }
  
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/Background.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    pointer-events: none;
    // rotate: 90deg;
  }  
  
  body {
    @include flex(column);
    font-family: sans-serif;
    min-width: 448rem;
    overflow-y: hidden;
    height: 100vh;
    font-size: 0.875rem; 
    // rotate: 90deg;

    .modal-techs {
      background-color: rgb(200, 233, 244, 0.7);
      position: fixed;
      width: 50rem;
      height: 31rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
      background-size: cover;
      border-radius: var(--rounded-md);
      box-shadow: var(--box-shadow);
      overflow: hidden;

      .close-modal-btn {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        border-radius: 50%;
        color: red;
        right: 14px;
        top: 10px;
        border: 0;   
        cursor: pointer;  
        background: 0;
        font-size: 4rem;   
        rotate: 45deg;
        @include flex(row, center, center);

        &:hover {
          opacity: 0.9;
        }
        &:active {
          scale: 0.95;
        }
      }

      .modal-tech-name {
        @include flex(row, center, center);
        width: 100%;
        height: 4rem;
        background: radial-gradient(
          ellipse at center,
          #21506d 0%,
          #133a52 80%,
          #0f3349 100%
        );

        color: white;
        font-size: 1.75rem;
        box-shadow: var(--box-shadow);
      }

      .modal-header {
        height: 4rem;
        color: white;
        font-size: 1.25rem;
        margin: 1.5rem 1.5rem;
        border-radius: 0.25rem;
        box-shadow: var(--box-shadow);
        background: radial-gradient(ellipse at center, #1d7fa7 0%, #08658c 80%, #0b5473 100%);
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr;

        .modal-header-inner {
          @include flex(row, center, center);
        }
      } 
      .modal-header-center {
        grid-template-columns: 2fr 2fr 2fr;
      }

      .modal-cont {
        color: white;
        font-size: 1.5rem;
        margin: 1.5rem;
        border-radius: 0.25rem;
        height: 59.5%;
        padding-top: 0.35rem;
        box-shadow: var(--box-shadow);
        background: radial-gradient(ellipse at center, #1d7fa7 0%, #08658c 80%, #0b5473 100%);
        display: flex;
        flex-direction: column;
        overflow: hidden; 
      }
      
      .modal-header {
        flex: 0 0 auto; 
        margin-bottom: 0.35rem;
      }

      .modal-scroll {
        overflow-y: scroll; 
        scrollbar-width: none; 
        -ms-overflow-style: none; 
      
        &::-webkit-scrollbar {
          width: 0; 
          background: transparent;
        }
      }
      
      .modal-row {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr);
        margin-top: 0.35rem;
      
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: 1.15rem;
          font-weight: normal;
          min-width: 0;
        }
      }
      .modal-row-center {
        grid-template-columns: minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr);
      }      
    }    
    
    .tech-animation {
      .tech-container, .tech-container-unmet {
        animation: highlight-tech-animation 2s ease-out;

        @keyframes highlight-tech-animation {
          0% {
            filter: grayscale(0%) brightness(1.3);
            box-shadow: 0 0 0.8333rem 0.3333rem rgba(255, 0, 0, 0.6); // яркая тень
          }
          33% {
            filter: grayscale(0%) brightness(1);
            box-shadow: 0 0 0.4167rem 0.1667rem rgba(255, 0, 0, 0.2); // ослабление
          }
          66% {
            filter: grayscale(0%) brightness(1.3);
            box-shadow: 0 0 0.8333rem 0.3333rem rgba(255, 0, 0, 0.6); // снова яркая
          }
          100% {
            filter: grayscale(0%) brightness(1);
            box-shadow: none; 
          }
        }
      }

      .crystal-center-image {
        animation: highlight-center-animation 2s ease-out;
    
        @keyframes highlight-center-animation {
          0% {
            filter: grayscale(0%) brightness(1.3);
          }
          33% {
            filter: grayscale(0%) brightness(1);
          }
          66% {
            filter: grayscale(0%) brightness(1.3);
          }
          100% {
            filter: grayscale(0%) brightness(1);
          }
        }
      }
    }  

    .wrapper {
      min-height: 100vh;
      @include flex(column);
      flex: 1 1 auto;
      overflow: hidden;
  
      .header, .footer {
        position: relative;
        width: 100%;
        height: 8vh;
        margin: 1.665rem 0;
        z-index: 0;

        .reset-btn {
          width: 8.35rem;
          height: 2.5rem;
          @include flex(column, center, center);
          position: fixed;
          top: 91%;
          left: 85%;
          font-size: 1.5rem;
          border-radius: var(--rounded-lg);
          cursor: pointer;
          color: red;
          @include dark-field();
          border: 1px solid white;
          transition: color 0.3s ease, border 0.3s ease;

          &:hover {
            color: red;
            border: 1px solid red;
          }
          &:active {
            scale: 0.95;
          }
        }
        
        .cost-reduction {
          position: fixed;
          font-size: 1.8rem;
          z-index: 10;
          color: white;
        }
  
        .total-sum-cont {
          font-size: 1rem;
          width: 18.25rem;
          color: white;
          position: fixed;
          top: 7%;
          left: 85%;
          transform: translate(-50%, -50%);
          display: grid;
          grid-template-columns: auto auto;
          row-gap: 0.25rem;
          column-gap: 0.75rem;
  
          .amt-name {
            @include flex(column, center, start);
          }
          
          div {
            display: flex;

            img {
              width: 1.65rem;
              height: 1.5rem;
            }
          }
        }

        .coins-cont {
          font-size: 1.5rem;
          width: 18.25rem;
          color: white;
          position: fixed;
          transform: translate(-50%, -50%);
          display: grid;
          grid-template-columns: auto auto;
          top: 7%;
          left: 15%;

          .total-coins {
            @include dark-field;
            border-radius: var(--rounded-sm);
            padding-right: 0.625rem;
            width: 9.5rem;
            height: 2rem;
            @include flex(row, end, center);
            text-align: end;
          }

          div {
            display: flex;

            img {
              width: 2rem;
              height: 2rem;              
            }
          }          
        }
  
        .total-sum,
        .total-sum-base,
        .total-sum-saved {
          @include dark-field;
          border-radius: var(--rounded-sm);
          padding-right: 0.625rem;
          width: 9.5rem;
          height: 1.5rem;
          @include flex(row, end, center);
          text-align: end;
        }
  
        .cost-reduction {
          top: 7%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
  
        .requirements {
          @include flex(column, center, center);
          position: fixed;
          top: 90%;
          left: 50%;
          transform: translate(-50%, -50%);

            .notification {
              color: red;
              font-size: 1.8rem;
              margin-bottom: 1.65rem;
            }

            .unmet-list {
              @include flex(row, center, center);
              gap: 1rem;
              
              .tech-container-unmet {
                @include tech-cont;
                background: var(--light-gradient);
                width: 14rem;
                height: 4rem;
                font-size: 0.8rem;
              
              .tech-image {
                margin-top: -0.325rem;
                height: 4rem;
                width: 4rem;
                padding: 0.125rem;
                border-radius: 0.35rem;
                background: linear-gradient(90deg, #8e853a, #ffcc00, #8e853a);
                box-shadow: var(--box-shadow);
                @include flex(column, center, center);
                overflow: hidden;                
              }

              .tech-image img {
                width: 100%;
                height: 100%;
                border-radius: 0.35rem;
              }
              
              .tech-content {
                @include flex(column, space-between, start);
                padding: 0.35rem 0;
                width: 8rem;
                height: 100%;
              }
              
              .tech-link {
                @include flex(row, center, center);
                border: none;
                cursor: pointer;
                font: inherit;
                width: 7.5rem;
                height: 1.25rem;                
                background: var(--button-gradient);
                border-radius: var(--rounded-sm);
                color: var(--dark-blue);
                box-shadow: 0 0rem 0.1rem rgb(0 0 0);;
                margin-top: -0.25rem;

                &:active {
                  scale: 0.98;
                }
              } 
            }
          }
        }
      }
  
      .main {
        @include flex(row);
        flex: 1;
        overflow: auto;
        will-change: transform;
        transform: translateZ(0);
        // margin-top: -40px;
  
        .column-container,
        .crystal-center {
          @include flex(column, space-around);
          width: 23rem;
          gap: 1rem;
          max-height: 34rem;
          min-height: 25rem;
  
          .tech-section,
          .crystal-center {
            @include flex(column);
            position: relative;
            width: 15rem;
  
            .crystal-center-info {
              @include flex(column);
              margin-bottom: -2.8rem;
              z-index: 10;
  
              .tech-name {
                @include flex();
                @include tech-cont;
                background: var(--light-gradient);
                width: 17.5rem;
                height: 2.5rem;
                font-size: 1.25rem;
              }
  
              .progress-info {
                @include dark-field;
                width: 10rem;
                height: 1.875rem;
                font-size: 1rem;
              }
            }
  
            .tech-container {
              @include tech-cont;
              background: var(--light-gradient);
              width: 15rem;
              height: 5rem;

              &:hover {
                cursor: pointer;
              }
              
              .tech-image {
                margin-top: -0.625rem;
                height: 5rem;
                width: 5rem;
                padding: 0.155rem;
                border-radius: var(--rounded-lg);
                background: linear-gradient(90deg, #8e853a, #ffcc00, #8e853a);
                box-shadow: var(--box-shadow);
                @include flex(column, center, center);
                overflow: hidden;                
              }

              .tech-image img {
                width: 100%;
                height: 100%;
                border-radius: 0.4rem;
              }

              .tech-image-noborder {
                margin-top: -1.025rem;
                height: 5rem;
                width: 5rem;
                @include flex(column, center, center);
              }

              .tech-image-noborder img {
                width: 125%;
                height: 125%
              }
  
              .tech-content {
                @include flex(column, space-between, start);
                padding: 0.55rem 0;
                width: 7.5rem;

                .tech-name {
                  font-size: 0.9rem;
                }
  
                .tech-progress {
                  height: 1.1rem;
                  width: 100%;
                  border: 0.125rem solid rgb(73, 157, 186);
                  border-radius: var(--rounded-md);
                  overflow: hidden;
                  z-index: 10;
                  position: relative;
                  color: white;
                  background: var(--tech-progress-gradient);
  
                  .progress-bar {
                    background: var(--progress-bar-gragient);
                    border-radius: var(--rounded-md);
                    box-shadow: var(--bar-shadow);
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                  }
  
                  .progress-info {
                    @include flex(row, center, center);
                    position: absolute;
                    width: 2.5rem;
                    height: 100%;  
                    left: 2.4375rem; 
                    font-size: 0.6875rem;                    
                    color: white;
                    z-index: 10;           
                  }
                }
              }
            }
  
            .cost-container {
              @include cost-container;
              width: 12.5rem;
  
              .cost-image {
                width: 1.5rem;
                height: 1.625rem;
  
                img {
                  height: 100%;
                  width: 110%;
                }
              }
  
              .cost-research {
                @include dark-field;
                width: 67%;
                height: 1.375rem;
                box-shadow: var(--thin-shadow);
              }
  
              .cost-btn {
                color: #3e8793;
                border: none;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 0.125rem;
                cursor: pointer;
                padding: 0;
                line-height: 1;
                box-shadow: var(--box-shadow);
                font-size: 1.6875rem;
                background-image: var(--button-gradient);
                z-index: 20;
  
                &:active {
                  scale: 0.98;
                }
              }
            }
  
            .arrow-cont {
              position: absolute;
              bottom: 5.4125rem;
              left: 12.375rem;
              width: 11.25rem;
              display: flex;
              z-index: -10;
  
              .arrow,
              .horizontal {
                width: 100%;
                position: absolute;
              }
  
              .vertical-up {
                transform: scaleY(-1);
                bottom: -0.65rem;
              }
            }
  
            .arrow-big {
              width: 34.75rem;
            }
          }
        }
  
        .crystal-center {
          width: 34.375rem;
  
          .tech-section {
            width: 30.125rem;
  
            .crystal-center-image {
              height: 30.5rem;
              width: 30.5rem;
              position: relative;

              .crystal-center-hover {
                display: block;
                position: absolute;
                left: 82px;
                top: 95px;
                width: 17.5rem;
                height: 17.5rem;
                rotate: 45deg;
                border-radius: 2rem;
                cursor: pointer;
              }
  
              img {
                width: 100%;
                z-index: -20;
              }
            }
  
            .cost-container {
              margin-top: -0.625rem;
            }
          }
        }
  
        .inactive {
          .tech-image,
          img,
          .cost-btn {
            filter: grayscale(100%) brightness(1);
          }
          
          .tech-progress {
            filter: grayscale(50%) brightness(1);
          }
          .progress-info {
            color: #8fc7d9 !important;
          }
  
          .arrow {
            filter: grayscale(100%) brightness(0.2) sepia(1) hue-rotate(150deg) saturate(4);
            opacity: 0.5;
            mix-blend-mode: multiply;
          }
  
          .tech-container {
            background: var(--inactive-gradient) !important;
          }
  
          .tech-name {
            color: white;
          }
        }

        .tech-container, .crystal-center-image {
          transition: filter 0.2s ease, transform 0.2s ease;

          &:active {
            filter: grayscale(0%) brightness(1.1); 
          }
        }
      }
    }
  }

/* iPhone SE / очень узкие экраны (320–380px) */
@media (max-width: 380px) {
  html {
    font-size: 5px;
  }

  body {
    overflow-x: auto;
    overflow-y: auto;


  }
}

/* Стандартные телефоны (iPhone 12, Android 360–430px) */
@media (max-width: 430px) {
  html {
    font-size: 5px;
  }

  body {
    overflow-x: auto;
    overflow-y: auto;


  }
}

/* Переходная зона — узкие планшеты или большие телефоны (до 600px) */
@media (max-width: 600px) {
  html {
    font-size: 5px;
  }

  body {
    overflow-x: auto;
    overflow-y: auto;


  }
}

/* Планшеты (iPad 768–900px) */
@media (max-width: 900px) {
  html {
    font-size: 5px;
  }

  body {
    overflow-x: auto;
    overflow-y: auto;


  }
}

/* Планшеты 1024×600 и подобные */
@media (max-width: 1024px) and (max-height: 650px) {
  html {
    font-size: 5px;
  }

  body {
    overflow-x: auto;
    overflow-y: auto;

    .wrapper {
        .main .crystal-center .tech-section .crystal-center-image 
        .crystal-center-hover {
        display: block;
        position: absolute;
        left: 50px;
        top: 64px;
        rotate: 45deg;
        border-radius: 2rem;
        cursor: pointer;
      }

    }
  }
}

  
  

//   sass --watch scss/styles.scss:scss/styles.css
